$color1:#F1FAEE;  //Date
$color2: #1D3557; //Background
$color3:#E63946;  //Button
$color4: #F1FAEE; //Text
$color5: #F1FAEE; //Hashtag


$font: "helvetica";

body {
    margin: 0px;
    padding: 0px;
    // background-color: rgba(0, 0, 0, 0.75);
    // z-index: -2;
}

.background{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/oasis_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -2;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 1fr);

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: $color2;
        opacity: 1;
        mix-blend-mode: multiply;
        z-index: -1;

    }
    .font_text{
        font-family: $font;
    }

    .text_shadow{
        font-weight: bold;
        text-shadow: black 2px 5px;

    }
    

    #h1_date{
        background-color: none;
        font-size: 55px;
        //border: 1px dashed $color1;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 1;
        grid-row-end: 1;
        color: $color1;
    }

    #slogan_message{
    //border: 1px dashed $color1;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 1px;
    grid-row-start: 2;
    grid-row-end: 2;
    color: $color4;
    }

    #slogan_hashtag{
            //border: 1px dashed $color1;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            padding: 1px;
            margin:0.67em;
            margin-bottom: 1em;
            grid-row-start: 3;
            grid-row-end: 3;
            color: $color5;
        }
    #button_container{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 4;
        grid-row-end: 4;
        
        #slogan_button{
            background-color: transparent;
            overflow: hidden;
            border: 2px solid $color3;
            font-size: 20px;
            padding:5px;
            color: $color3;
            box-shadow: 2px 2px black;
            &:hover{
                color: $color1;
                border: 2px solid $color3;
            }
        }

    }
    #social_media-container{
        //background-color: red;


        #social_media{
            list-style: none;
            grid-row-start: 5;
            grid-row-end: 5;
            display: flex;
            width: 80vw;
            height:100%;
            justify-content: space-around;
            align-items: center;

            .social_media-icon{

                color: $color3;

                &:hover{
                    color: $color1;
                }

            }
        }
        
    }
    @media (min-width: 760px){
        #h1_date{
            font-size: 60px;
        }
        #slogan_message{
            font-size: 20px;
        }
        #slogan_hashtag{
            font-size: 45px;
        }
        #button_container{
            #slogan_button{
                font-size: 25px;
                padding: 8px;
            }
        }
            #social_media-container{
                #social_media{
                    width: 85vw;
                }
            }
            
    
    
    }
    

}

    



