$color1: #fff;
$font: "helvetica";

body {
    margin: 0px;
    padding: 0px;
    // background-color: rgba(0, 0, 0, 0.75);
    // z-index: -2;
}

.background{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/oasis_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -2;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.85);
        //mix-blend-mode: darken;
        z-index: -1;

    }
    .white_text{
        color: $color1;
        font-family: $font;
    }

    #h1_date{
        background-color: none;
        font-size: 50px;
        border: 1px dashed $color1;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #slogan_section{
        #slogan_message{
            border: 1px dashed $color1;

        }

        #slogan_hashtag{
            border: 1px dashed $color1;

        }
    }

}

